.container {
    max-width: 1200px;
    margin: 60px auto 0 auto;
}

.container__header {
    letter-spacing: 1px;
    color: #333;
}

@media (max-width: 768px){
    .container__header{
        text-align:center;
    }
}